{% extends 'base.htm' %}

{% block head %} 
<title>About</title>
{% endblock %}

{% block body %} 
<br>
<h1>Informacje o badaniu społecznym</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h2 style="text-align: center">Wpływ panującej pandemii koronawirusa na zachowania behawioralne społeczeństwa</h2>
        <p style="text-align: center">Próbie, jakiej jesteśmy w tym momencie poddawani, nie spodziewał się nikt. Wielu z nas nie miało pojęcia, z czym przyjdzie nam się zmierzyć, a o epidemiach paraliżujących cały świat czytało się jedynie w książkach do historii. Każdy próbuje z obecną sytuacją radzić sobie na swój sposób, ale nawet gdy nie mamy bezpośrednio kontaktu z tragedią, która spotyka wielu ludzi dotkniętych koronawirusem, sami mamy trudności w utrzymaniu psychiki w dobrej kondycji, jednocześnie wciąż utrzymując restrykcje kwarantanny.
          Dla każdego z nas kwarantanna daje wiele możliwości, na jakie się składa chociażby rozpoczęcie nowego hobby, zadbanie o własny rozwój, nadrobienie zaległości związanych ze studiami, przeprowadzenie generalnych porządków, czytanie książek, a nawet takie błahe rzeczy, na które do tej pory nie było czasu, jak nadrobienie seriali czy filmów. Ci, którzy mieli szczęście przechodzić kwarantannę w rodzinnym gronie lub w gronie przyjaciół, mają okazję do zacieśniania swoich więzi, nadrobienie zaległości towarzyskich oraz rodzinnych.
          Czując codzienną tęsknotę do rodziny i znajomych, których nie możemy widywać, wielu z nas znajduje nowe rozwiązania, takie jak wideorozmowy. Niestety, u wielu osób wciąż zauważa się ignorancję narzuconego na nas reżimu sanitarnego. Duża część społeczeństwa narzeka na kroki podjęte przez rząd, które mają zapobiegać rozprzestrzenianiu się choroby COVID-19. Obywatele krytykują zbyt szybkie nakładanie obostrzeń oraz ich wymiar. Polacy narzekają na nagły brak środków finansowych, spowodowany utratą pracy lub zamknięciem prowadzonych przez nich placówek usługowych, a przy okazji na brak pomocy pieniężnej osobom najbardziej dotniętych kryzysem gospodarczym, który pojawił się na wskutek pandemii.</p>
      </div>
    </div>
  </main>
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/static/images/przylbice.png" class="d-block w-100" alt="przylbica dla medyka AGH">
      </div>
      <div class="carousel-item">
        <img src="/static/images/maskadlamedyka.png" class="d-block w-100" alt="maska dla medyka">
      </div>
      <div class="carousel-item">
        <img src="/static/images/druk.png" class="d-block w-100" alt="druk Prusa AGH">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  <br>
  <main role="main">
  <div class="jumbotron">
    <div class="col-sm-8 mx-auto">
      <p style="text-align: center">Chcąc przyjrzeć się bliżej różnicom między naszym życiem codziennym, a tym podczas kwarantanny oraz chęcią poznania opinii na wiele tematów związanych z pandemią koronawirusa, postanowiliśmy przeprowadzić ankietę z wybranymi przez nas pytaniami. Pytania są inspirowane przemyśleniami w naszym własnym gronie, które podejrzewamy, że zostały poruszone nie tylko w naszym środowisku. Projekt miał za zadanie zebrać informacje ze środowiska i przedstawienie wyników w czytelnej i wizualnej formie.
        Zapraszamy do zapoznania się z wynikami ankiet. Dzięki nim widzimy, że nie jestesmy w tym wszystkim sami. Przestrzegajmy zasad kwarantanny oraz tylko w miarę możliwości i zachowując odpowiednie środki bezpieczeństwa – pomagajmy innym!</p>
      <p style="text-align: center">
        <a class="btn btn-primary" href="/form" role="button">Przechodzę do ankiety &raquo;</a>
      </p>
    </div>
  </div>
  </main>
{% endblock %}