<!-- extend base layout -->
{% extends "base.htm" %}

{% block head %} 
<title>Form</title>
{% endblock %}

{% block body %} 

<div class="page-header">
  <h1>Proszę wypełnić ankietę</h1>
</div>

<form role="form" onsubmit="return Validate()" action="/save" method="post">
    <h3>Dane osobiste</h3>
    <div class="form-group">
      <label for="age">Proszę wybrać swój wiek</label>
      <select class="form-control" id="age" name="age">
        <option value="0" disabled="disabled" selected hidden>Wybierz...</option>
        <option value="1" >Poniżej 20 lat</option>
        <option value="2">20-49 lat</option>
        <option value="3">powyżej 50lat</option>
       </select>
     </div>

    <div class="form-group">
      <label for="home">Proszę wybrać miejsce zamieszkania</label>
      <select class="form-control" id="home" name="home">
        <option value="0" disabled="disabled" selected hidden>Wybierz...</option>
        <option value="1">Wieś</option>
        <option value="2">Małe miasto (do 50 tyś. mieszkańców)</option>
        <option value="3">Duże miasto (powyżej 50 tyś. mieszkańców)</option>
       </select>
     </div>

    <div class="form-group">
      <label for="gender">Proszę wybrać płeć</label>
      <select class="form-control" id="gender" name="gender">
        <option value="0" disabled="disabled" selected hidden>Wybierz...</option>
        <option value="1">Mężczyzna</option>
        <option value="2">Kobieta</option>
        <option value="3">Nie chce podawac</option>
       </select>
     </div>
     <h3>Zachowania behawioralne</h3>
    <div class="form-group">
      <label for="alcohol">Jak okreslasz zmiane spozycia alkoholu od wprowadzenia stanu zagrozenia epidemiologicznego?</label>
      <select class="form-control" id="alcohol" name="alcohol">
        <option value="0" disabled="disabled" selected hidden>Wybierz...</option>
        <option value="1">Brak zmian</option>
        <option value="2">Zmalalo</option>
        <option value="3">Wzroslo</option>
       </select>
     </div>

    <div class="form-group">
      <label for="government">Jak oceniasz dzialania rzadu w obecnej sytuacji</label>
      <select class="form-control" id="government" name="government">
        <option value="0" disabled="disabled" selected hidden>Wybierz...</option>
        <option value="1">Pozytywnie</option>
        <option value="2">Neutralnie</option>
        <option value="3">Negatywnie</option>
       </select>
     </div>

    <div class="form-group">
      <label for="corona">Czy znasz kogos kto zachorowal na koronawirusa?</label>
      <select class="form-control" id="corona" name="corona">
        <option value="0" disabled="disabled" selected hidden>Wybierz...</option>
        <option value="1">Tak</option>
        <option value="2">Nie</option>
        <option value="3">Nie wiem</option>
       </select>
     </div>


    <b>Jak od wprowadzenia stanu epidemiologicznego w kraju zmienila sie Twoja dieta?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="eat" value="1" required>Nie zmienila sie
        </label>
        <label class="radio-inline">
          <input type="radio" name="eat" value="2">Jem mniej
        </label>
        <label class="radio-inline">
          <input type="radio" name="eat" value="3">Jem wiecej
        </label>
    </div>

    <b>Czy obecna sytuacja wplynela na stan Twojego samopoczucia?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="feeling" value="1" required>Tak
        </label>
        <label class="radio-inline">
          <input type="radio" name="feeling" value="2">Nie
        </label>
        <label class="radio-inline">
          <input type="radio" name="feeling" value="3">Nie wiem
        </label>
    </div>

    <b>Jak czesto sprawdzasz aktualizacje dotyczace stanu epidemiologicznego?</b>
    <div class="form-group">
        <label class="radio-inline">
          <input type="radio" name="view" value="1">Kilka razy dziennie
        </label>
        <label class="radio-inline">
          <input type="radio" name="view" value="2">Raz dziennie
        </label>
        <label class="radio-inline">
          <input type="radio" name="view" value="3" required>Nie sprawdzam
        </label>
    </div>

    <div class="form-group">
        <label for="status">Jak oceniasz postawe rzadu wobec epidemii? (1- zła, 2-przeciętna, 3-dobra) </label>
        <input type="number" class="form-control" id="status" name="status" min="1" max="3" required>
    </div>


    <button type="submit" class="btn btn-default" >Prześlij wypełniony formularz</button>
</form>

     <script type="text/javascript">
            function Validate()
            {
                var s1 = document.getElementById("age").value;
                var s2 = document.getElementById("home").value;
                var s3 = document.getElementById("gender").value;
                if(s1 == "0" || s2 == "0" || s3 == "0" )
                {
                    alert("Proszę uzupełnić wszystkie pola formularza, w sekcji danych osobowych");
                    return false;
                }
                return true;
            }
     </script>


{% endblock %}

