{% extends 'base.htm' %}

{% block head %} 
<title>Home Page</title>
{% endblock %}

{% block body %} 
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Witamy!</h1>
        <p>Jesteśmy grupą studentów, którzy w ramach realizacji projektu z aplikacji webowych i badań społecznych chcieliby się czegoś od Ciebie dowiedzieć.</p>
        <p>Moze Ciebie rowniez interesuje jaki wplyw ma panujaca pandemia na zachowania behawioralne spoleczenstwa?</p>
        <p>Jezeli tak to zachecamy do wypelnienia ankiety, po ktorej bedzie mozna zobaczyc wyniki na kolorowych wykresach :)</p>
        <p>Wystarczy kliknac w menu na zakladke "Form" lub kliknac ponizszy przycisk.</p>
        <p>Dziekujemy za pomoc i zapraszamy do wypelnienia ankiety! :)</p>
        <p>
          <a class="btn btn-primary" href="/form" role="button">Przechodze do ankiety. &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}