{% extends 'base.htm' %}

{% block head %} 
<title>Home Page</title>
{% endblock %}

{% block body %}
<br>
<main role="main">
    <div class="jumbotron home" style="background-color: #e6e6ff; font-family: 'Roboto', sans-serif;">
      <div class="col-sm-8 mx-auto">
        <h1>Witamy!</h1>
        <p style="text-align: justify;">Wchodząc na tę stronę, właśnie zostałeś częścią naszego studenckiego projektu. Nie marnuj  czasu  i  nam  pomóż, wypełniając krótką ankietę badającąwpływ panującej epidemii  na  zachowania  behawioralne społeczeństwa. Czy  nie jesteś ciekawy, jak zmieniają  się  nasze  zachowania  i  nawyki  podczas  obecnej  sytuacji? Kiedy  już wypełnisz ankietę ( ͡° ͜ʖ͡°), możesz wejść do zakładki Results, aby dowiedzieć się jak inni zmieniają się podczas tego okropnego okresu...</p>
        <p>
          <a class="btn btn-primary" href="/form" role="button">Przechodze do ankiety. &raquo;</a>
        </p>
        <br>
        <img src="/static/images/meme.jpg" class="img-thumbnail" alt="Responsive image" style="max-width:400px; display: block; text-align:center; margin: auto; ">
      </div>
    </div>
  </main>
{% endblock %}