{% extends 'base.htm' %}

{% block head %} 
<title>Team</title>
{% endblock %}

{% block body %} 
<br>
<h1>Nasz zespół</h1>
<br>

<div class="well">
<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
        <img src="/static/images/Natka.png" class="img-circle" alt="Natalia" style="height: 250px; border-radius: 50%">
        <div class="caption">
          <center class="title-photo">
          <p>Natalia Szczepanek</p>
          </center>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
        <img src="/static/images/Janek.jpg" class="img-circle" alt="Janek" style="height: 250px; border-radius: 50%">
        <div class="caption">
          <center class="title-photo">
          <p>Jan Migoń</p>
          </center>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
        <img src="/static/images/Maciek.jpg"  class="img-circle" alt="Maciek" style="height: 250px; border-radius: 50%">
        <div class="caption">
          <center class="title-photo">
          <p>Maciej Okapa</p>
          </center>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
        <img src="/static/images/Ola.png"  class="img-circle" alt="Ola" style="height: 250px; border-radius: 50%">
        <div class="caption">
          <center class="title-photo">
          <p>Aleksandra Domaradzka</p>
          </center>
        </div>
      </a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-3">
    <div class="thumbnail">
        <img src="/static/images/Sara.JPG" class="img-circle" alt="Sara" style="height: 250px; border-radius: 50%">
        <div class="caption">
          <center class="title-photo">
          <p>Sara Blichowska</p>
          </center>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
        <img src="/static/images/Patka.jpg" class="img-circle" alt="Patka" style="height: 250px; border-radius: 50%">
        <div class="caption">
          <center class="title-photo">
          <p>Patrycja Błażejewska</p>
          </center>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
        <img src="/static/images/Szczeki.jpg"  class="img-circle" alt="Szczeki" style="height: 250px; border-radius: 50%">
        <div class="caption">
          <center class="title-photo">
          <p>Piotr Szczekała</p>
          </center>
        </div>
      </a>
    </div>
  </div>
  <div class="col-md-3">
    <div class="thumbnail">
        <img src="/static/images/Pirowska.jpg"  class="img-circle" alt="Pirowska" style="height: 250px; border-radius: 50%">
        <div class="caption">
          <center class="title-photo">
          <p>Paulina Pirowska</p>
          </center>
        </div>
      </a>
    </div>
  </div>
</div>
</div>

{% endblock %}