.home{
background-color: #f2e6d9;
font-family: 'Roboto', sans-serif;
text-align: justify;
}
.home.p{
text-align: justify;
font-family: 'Roboto', sans-serif;
}

.title-photo{
margin: 5px;
padding: 5px;
}

body{
font-family: 'Roboto', sans-serif;
}

.name{
font-family: 'Jost', sans-serif;
}

progress[value] {
  /* Reset the default appearance */
  -webkit-appearance: none;
   appearance: none;

  width: 250px;
  height: 20px;
}

progress[value]::-webkit-progress-bar {
  background-color: #eee;
  border-radius: 2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
  background-color: var(--c,red);
}

progress:before {
  content: attr(data-label);
  font-size: 0.8em;
  vertical-align: 0;

  /*Position text over the progress bar */
  position:absolute;
}

.containerAll {
align-items:center;
justify-content:center;
display:grid;
grid-template-column: repeat(4, 25%);
grid-template-row: repeat(3, 1fr);
}

body .containerAll .donuts{
grid-row: 1 / 2;
grid-column: 1 / 2;
display:grid;
}
.donuts > * {
grid-column:span 2;
grid-row:span 2;}

body .containerAll .face{
grid-row: 1/ span 2;
grid-column: 3;
display:flex;
flex-direction:column;
flex-wrap:wrap;
}
body .containerAll .charts{
grid-row: 3
grid-column: 1/ span 3;
display:flex;
flex-direction:row;
flex-wrap: nowrap;
}